@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

*{
  margin: 0;
  padding: 0;
}

body{
 font-family: "Raleway";
}

p{
  font-size: var(--fontsize-p);
}

h1, h2, h3, h4, h5, h6{
  font-family: "Oswald";
}

nav{
  padding: 30px 0;
  flex: var(--sidebar-flex);
  background: rgb(238,103,143);
  background: linear-gradient(180deg, rgba(238,103,143,1) 50%, rgba(132,124,252,1) 80%);
}

nav ul{
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
 }

nav ul li{
  margin: 40px;
  
  }

nav ul li a{
  color: white !important;
  text-decoration: none;
  font-family: 'Oswald';
}

nav ul li a:hover{
  color: purple !important;
}

.active a{
  font-weight: 700;
  color: purple !important;
}

.App{
  display: flex;
  width: 100vw;
  height: 100vh;
  }

.condiv{
  padding: 100px;
  background-color: #f4f5f8;
  flex: var(--condiv-flex);
}


.socialMedia{
  margin-top: 40px;
  margin-left: 30%;
  display: flex;
  
}

.socialMedia i{
  padding-right: 30px;
  font-size: 25px;
  color: white;
}

.socialMedia i:hover{
  color: purple;  
}

.profilePic{
  width: 700px;
  border-radius: 50%;
}

.typeEffectContainer{
  margin-top: 30px;
}

.typingEffect{
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  padding-top: 30px;
}

.aboutHeader{
  margin-bottom: 1em;
}

.subHeader{
  margin-bottom: .5em;
}

.card{
  border: 0px solid #9a9b9c;
  display: flex;
  margin: 30px 0px 30px 0px;
  padding: 5px;
}

.card:hover{
  color: #1b1b20;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.secondText{
  font-family: 'Raleway';
  padding-bottom: 5px;
}

